## General

- When writing blog posts, use MDX.
- Refer to my style of writing in the blog posts.
- Please check "_posts" folder for existing blog posts.
- Always check for typos and grammar mistakes.