name: Super-Linter

# Run this workflow every time PR is created for develop or main branch
on:
    push:
        branches: [main, develop]
    pull_request:
        branches: [main, develop]

jobs:
    # Set the job key. The key is displayed as the job name
    # when a job name is not provided
    super-lint:
        # Name the Job
        name: Lint code base
        # Set the type of machine to run on
        runs-on: ubuntu-latest

        steps:
            # Checks out a copy of your repository on the ubuntu-latest machine
            - name: Checkout code
              uses: actions/checkout@v2

            # Runs the Super-Linter action
            - name: Run Super-Linter
              uses: github/super-linter@v4
              env:
                  DEFAULT_BRANCH: develop
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

                  IGNORE_GITIGNORED_FILES: true
                  VALIDATE_MARKDOWN: false
                  VALIDATE_TYPESCRIPT_STANDARD: false
                  VALIDATE_JAVASCRIPT_STANDARD: false
                  VALIDATE_CSS: false
                  FILTER_REGEX_EXCLUDE: .*/_posts/.*
                  VALIDATE_NATURAL_LANGUAGE: false
